<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf = "backButton" [defaultHref]="backButton"></ion-back-button>
      <ion-button (click)="dismissModal()" *ngIf="isModal">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!hideProfileIcon">
      <ion-button [routerLink]="['/main/profile']">
        <ion-icon class="profile-icon" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <strong>{{title}}</strong>
    </ion-title>
  </ion-toolbar>
  

</ion-header>