

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfil del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="currentUser.photoURL" />
        </ion-avatar>
        <ion-label>
          <h2>{{ currentUser.name }}</h2>
          <p>{{ currentUser.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Tomar foto de perfil</ion-label>
        <ion-button (click)="takeProfilePicture()">Tomar Foto</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Espacio Ocupado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ usedSpace }} MB ocupados</p>
    </ion-card-content>
  </ion-card>

  
  <!-- Lista de documentos subidos -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Documentos Subidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let doc of documents$ | async">
          <ion-label>{{ doc.name }}</ion-label>
          <ion-button fill="clear" slot="end" (click)="doc.fileUrl ? viewDocument(doc.fileUrl) : null">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" (click)="deleteDocument(doc.filePath, doc.documentId)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button 
          fill="clear" slot="end" (click)="openMapForDocument(doc.documentId)">
          <ion-icon slot="icon-only" name="map-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Lista de imágenes subidas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Imágenes Subidas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let image of images">
          <p>{{ image.name }}</p>
          <ion-button fill="clear" slot="end" (click)="image.imageUrl ? viewDocument(image.imageUrl) : null">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
    Cerrar sesión
  </ion-button>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-button-1" (click)="addDoc()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-button class="fab-button-2" (click)="scanDoc()">
      <ion-icon name="camera" margin-top="100px"></ion-icon>
    </ion-fab-button>

  </ion-fab>
</ion-content>