:host {
    display: block;
    height: 100%;
  }
  
  /* Estilo del contenedor del mapa */
  #map {
    height: 100%; /* Asegura que el mapa ocupe toda la altura del contenedor */
    width: 100%;  /* Asegura que el mapa ocupe todo el ancho del contenedor */
    position: absolute; /* Evita problemas de posicionamiento */
    top: 0;
    left: 0;
  }
  /* Botón de cerrar en el encabezado */
  ion-button {
    --background: transparent;
    --color: var(--ion-color-primary);
  }
  
  ion-header {
    --background: var(--ion-color-light);
  }

  ion-content {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    height: 100%;
  }